;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.1"]  [org.clojure/core.async "0.4.500"]
  [cljs-ajax "0.8.0"]
  [reagent "0.8.1"]
  ]

 :dev-http {8080 "target/"}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn main/main!}}
                :devtools {:after-load main/reload!
                           :http-root "target"
                           :http-port 8080}}}}

 {}

 }
